/* applying background color with element selectors .. */
body{

   background-color: skyblue;
   border: 10px lightgrey solid ;
   margin: 10px;
}
header
{
    background-color: rgba(119, 90, 90, 0.6);
}
/*  applying font with element, class  selectors..*/
section
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 30px;

}
article
{
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
}
.title
{
    font-size: 23px;
    font-weight: bold;
}
.date
{
    font-style: italic;
    font-size: 14px;
    text-transform: uppercase;
}
/* changing the nav ul to inline */
nav > ul > li{

    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;
}
/* Removing the underline  */
nav > ul > li > a 
{
    text-decoration: none;

}
/* changing the hover on the li */

nav > ul > li:hover
{
    background-color: #ffffff;
    
}



